.userview{
  border-bottom: 2px solid #efefef;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  background-color: #efefef;

}

.msgview{
  border : 2px solid #efefef;
  font-size: 15px;
  margin-top: 10px;
  padding: 7px;
}

.title{
  font-size: 25px;
  font-weight: bold;
}

.chatbox{
  border: 3px solid #efefef;
  width: calc(40vw);
}

.chattitle{
  background-color: #efefef;
  padding-left: 0px;
}
