.formdata{
  margin: 10px;
}

.formview{
  border: 2px solid #efefef;
  text-align: left;
  font-size: 20px;
  margin-left: calc(33vw);
  width: calc(30vw);
}

input{
  border : 0px;
  border-bottom: 2px solid #efefef;
}

.title{
  text-align: center;
    margin-bottom: calc(9vh);
    background: #efefef;
}
